{% extends 'master.html' %}
{% block title %}
  Listado De Posts
{% endblock %}

{% block content %}
  <div class="row">
    {% if messages %}
        <div class="alert alert-success">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        {% if posts|length > 0 %}
          <h2>Posts</h2>
            {% for post in posts %}
              <div class="col-md-12" style="margin-bottom : 6px">
                <div class="col-md-8">
                  Title: {{ post.title }}, Url: {{ post.url }}, Content: {{ post.content }}
                </div>
                <div class="col-md-4">
                  <a href="{% url 'update_post' post.id %}" class="btn btn-success">Update</a>
                  <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                </div>
              </div>
            {% endfor %}
        {% else %}
            <p>No hay Posts</p>
        {% endif %}
      </div>
    </div>
  </div>      
{% endblock %}
